{% extends 'base.html' %}

{% block start %}

<div class="container-xxl hero-header"></div>
<div class="container px-lg-5">
  <div class="row g-5 py-5">
    <div class="col-12 text-center">
      <h1 class="animated zoomIn">Your Hackathons and Coding Contests from World</h1>
    </div>
  </div>
</div>
</div>
</div>

<div class="container-xxl py-5">
  <div class="container px-lg-5">
    <div class="content-container">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" style="text-align: center; color: rgb(19, 17, 17);">S.No.</th>
            <th scope="col" style="text-align: center ; color: rgb(19, 17, 17);">Contest Title</th>
            <th scope="col" style="text-align: center; color: rgb(19, 17, 17);">Website Link</th>
          </tr>
        </thead>

        {% for contest in contest_list_all %}

        <tbody>
          <tr>
            <th scope="row" style="text-align: center; color: rgb(19, 17, 17);">{{forloop.counter}}</th>
            <td style="text-align: center; color: rgb(19, 17, 17);">{{contest.title}}</td>
            <td style="text-align: center;"><a href="{{contest.link}}">Link</a></td>
          </tr>
        </tbody>
        {%endfor%}
      </table>
    </div>
  </div>
</div>
</div>

{%endblock%}